<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= venue.description %>
  </p>

  <p>
    <strong>Rows:</strong>
    <%= venue.rows %>
  </p>

  <p>
    <strong>Seats per row:</strong>
    <%= venue.seats_per_row %>
  </p>

  <p>
    <%= link_to "Show this venue", venue %>
  </p>
</div>
