
<%= simple_form_for(@concert) do |f| %>
  <article class="my-4">
    <div class="grid gap-4 grid-cols-6">
      <div class="col-span-2 text-xl">
        <%= f.input :start_time %>
      </div>
      <div class="col-span-3">
        <div class="name">
          <div class="text-lg font-bold">
            <%= f.input :name %>
          </div>
        </div>
        <div class="bands">
          <%= concert.bands.map(&:name).join(", ") %>
        </div>
        <div class="genres">
          <%= f.input :genre_tags %>
        </div>
        <div class="text-gray-500 font-bold">
          <%= f.association :venue %>
        </div>
      </div>
      <div class="col-span-1 text-xl my-10">
        <%= f.input :ilk, collection: Concert.ilks %>
        <%= f.input :access, collection: Concert.accesses %>
        <%= f.button :submit %>
      </div>
    </div>
  </article>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<% end %>
