<div id="<%= dom_id band %>">
  <p>
    <strong>Name:</strong>
    <%= band.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= band.description %>
  </p>

  <p>
    <strong>Genre tags:</strong>
    <%= band.genre_tags %>
  </p>

  <p>
    <%= link_to "Show this band", band %>
  </p>
</div>
