<div id="<%= dom_id ticket_order %>">
  <p>
    <strong>Concert:</strong>
    <%= ticket_order.concert_id %>
  </p>

  <p>
    <strong>Statusinteger:</strong>
    <%= ticket_order.statusinteger %>
  </p>

  <p>
    <strong>Scount:</strong>
    <%= ticket_order.scount %>
  </p>

  <p>
    <strong>Shopping cart:</strong>
    <%= ticket_order.shopping_cart_id %>
  </p>

  <p>
    <%= link_to "Show this ticket order", ticket_order %>
  </p>
</div>
